{% extends "base.html" %}

{% block title %}Preisübersicht{% endblock %}

{% block content %}
    <h1>Preisübersicht</h1>
    <table id="destination_list" class="display" data-order='[[3, "asc"], [5, "asc"]]'>
        <thead>
        <tr>
            <th class="select">Start</th>
            <th class="select">Ziel</th>
            <th class="select">Zielland</th>
            <th>Preis</th>
            <th>Median</th>
            <th class="select">Monat</th>
            <th class="select">Umstiege</th>
            <th class="select">Reiseklasse</th>
            <th class="select">Typ</th>
        </tr>
        </thead>

        <tbody>
        {% for offer in object_list %}
            <tr>
                <td>{{ offer.trip.origin }}</td>
                <td>{{ offer.trip.destination }}</td>
                <td>{{ offer.trip.destination.country }}</td>
                <td data-order="{{ offer.price_in_eur.amount }}">{{ offer.price_in_eur }}</td>
                <td data-order="{{ offer.median.amount }}">{{ offer.median }}</td>
                <td data-order="{{ offer.month }}">{{ offer.get_month_display }}</td>
                <td>{{ offer.stopovers }}</td>
                <td>{{ offer.trip.get_travel_class_display }}</td>
                <td>{{ offer.trip.get_trip_type_display }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}