{% extends "base.html" %}
{% load core_extras %}

{% block title %}Bestpreisübersicht{% endblock %}

{% block content %}
    <h1>Bestpreisübersicht</h1>
    <table id="trip_list" class="display" data-order='[[4, "asc"], [5, "asc"]]'>
        <thead>
        <tr>
            <th class="select">Start</th>
            <th class="select">Ziel</th>
            <th class="select">Zielland</th>
            <th>Median</th>
            <th>Bester Preis</th>
            <th class="select">Monat</th>
            <th class="select">Umstiege</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in object_list %}
            {% for offer in trip.best_price_offers %}
                <tr>
                    <td>{{ trip.origin }}</td>
                    <td>{{ trip.destination }}</td>
                    <td>{{ trip.destination.country }}</td>
                    <td data-order="{{ offer.median.amount }}">{{ offer.median }}</td>
                    <td data-order="{{ offer.price_in_eur.amount }}">{{ offer.price_in_eur }}</td>
                    <td data-order="{{ offer.month }}">{{ offer.get_month_display }}</td>
                    <td>{{ offer.stopovers }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}