{% extends "base.html" %}
{% load core_extras %}

{% block title %}Bestpreisübersicht{% endblock %}

{% block content %}
    <h1>Bestpreisübersicht</h1>
    <table id="destination_list" class="display">
        <thead>
        <tr>
            <th class="select">Start</th>
            <th class="select">Ziel</th>
            <th class="select">Zielland</th>
            <th>Bester Preis</th>
            <th class="select">Monat</th>
            <th class="select">Umstiege</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in object_list %}
            <tr>
                <td>{{ trip.origin }}</td>
                <td>{{ trip.destination }}</td>
                <td>{{ trip.destination.country }}</td>
                {% with trip.offers|pk:trip.best_price_offer_id as offer %}
                    {% if offer %}
                        <td>{{ offer.get_price_eur }}</td>
                        <td>{{ offer.get_month_display }}</td>
                        <td>{{ offer.stopovers }}</td>
                    {% endif %}
                {% endwith %}
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}