{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vendor/data_tables/datatables-2.1.8.min.css' %}"/>

    <script src="{% static 'vendor/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'vendor/data_tables/datatables-2.1.8.min.js' %}"></script>
    <script>
        addEventListener("DOMContentLoaded", () => {
            $('table.display').DataTable({
                displayLength: 25,
                initComplete: function () {
                    this.api()
                        .columns('.select')
                        .every(function () {
                            const column = this;

                            // Create select element and listener
                            const select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    column
                                        .search($(this).val(), {exact: true})
                                        .draw();
                                });

                            // Add list of options
                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append(
                                        '<option value="' + d + '">' + d + '</option>'
                                    );
                                });
                        });
                }
            });
        })
    </script>
</head>

<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>